<h1>Add a User!</h1>

<%= form_for @user do |f| %>
	
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Date of Birth: <%= f.date_field :dob %>
  <%= f.submit "Add this User!" %>
<% end %>